*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.star-rating {
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  cursor: pointer;
}

.star.hover {
  color: red;
}

.star.active {
  color: orange;
}
